.DashNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--dark);
    height: 7vh;
    padding: 5px;
}

.DashNavbar button {
    background-color: var(--button-color);
    color: white;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

.DashNavbar button:hover {
    background-color: var(--button-hover);
}
.Logo {
    display: flex;
    justify-self: flex-end;
    font-family: Garamond;
    font-size: large;
    margin-bottom: 10px;
    color: var(--paper-color);
    letter-spacing: 5px;
}

#NewDraftBtn {
    display: flex;
    flex-direction: column;
}