.ChangeHistoryView {
  height: 100vh;
  display: flex;
  background-color: var(--dark-bg);
}

.ChangeHistoryNavbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ChangeList {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background-color: var(--dark-bg);
}

.MainView {
  display: flex;
  margin-top: 80px;
}