.EditorView {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: var(--dark-bg);
  }
  
  .EditorNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .MainEditorView {
    margin: 50px;
  }