.SingleChangeView {
    width: 70vw;
    min-height: 100vh;
    margin: 5vh auto;
    padding: 125px;
    font-size: 16px;
    line-height: 1.6;
    border: 1px solid #ccc;
    background-color: var(--paper-color);
    box-sizing: border-box;
    outline: none;
    resize: none;
    border-radius: 3px;
    overflow-y: scroll;
}

.SingleChangeNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.MainPageView {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-bg);
    margin-top: 80px;
}