.SingleChangeView {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: var(--dark-bg);
}

.SingleChangeNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.MainPageView {
    /* width: 100vw;
    height: 100vh;
    background-color: var(--dark-bg); */
    margin-top: 50px;
}