.SingleChangeView {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: var(--dark-bg);
}

.SingleChangeNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.MainPageView {
    margin-top: 50px;
}