.ChangeItem {
    width: 50vw;
    background-color: var(--paper-color);
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}

.heading {
    text-decoration: underline;
    margin-bottom: 8px;
}

.heading:hover {
    color:darkblue;
}

