.DraftCard {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: var(--paper-color);
    background-image:
        repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));
    height: fit-content;
    min-height: 200px;
    width: 500px;
    border-radius: 3px;
    padding: 25px;
    padding-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 25px;
}

.DraftCard p {
    margin-top: 8px;
}

.heading {
    text-decoration: underline;
}

.link:hover {
   color: darkblue;
}

.CloseButton {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    background: none;
    color: black;
    font-size: x-large;
}

.CloseButton:hover {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: red;
    transform: scale(1.3);
}

.DeleteButton {
    height: 35px;
    width: 75px;
    margin: 10px;
}

.ButtonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}