.DraftCard {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: var(--paper-color);
    background-image:
        repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));
    height: fit-content;
    width: 500px;
    border-radius: 3px;
    padding: 25px;
    padding-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 25px;
}

.DraftCard p {
    margin-top: 8px;
}

.heading {
    text-decoration: underline;
}

.link:hover {
   color: darkblue;
}