
.main-editor {
    font-family: 'Courier New', Courier, monospace;
    width: 70vw;
    min-height: 100vh;
    margin: 5vh auto;
    padding: 125px;
    font-size: 16px;
    line-height: 1.6;
    border: 1px solid #ccc;
    background-color: var(--paper-color);
    box-sizing: border-box;
    outline: none;
    resize: vertical;
    overflow: hidden;
    border-radius: 3px;
  }
  