.EditorNavbar {
    display: flex;
    justify-content: flex-start;
    background-color: #2e3130;
    height: 7vh;
    padding: 5px;
}

.EditorNavbar button {
    background-color: #3f4444;
    color: white;
    border: none;
    margin-right: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.EditorNavbar button:hover {
    background-color: #3a3c3c;
}