.main-editor {
    width: 80vw;
    height: 90vh;
    margin: 5vh auto;
    padding: 125px;
    font-size: 16px;
    line-height: 1.6;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
    resize: none;
  }
  