.MainView {
  height: 100%;
  width: 100vw;
}

.ChangeHistoryNavbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ChangeList {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
 
}

.DateHeader {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.727);
}

.HistoryHeader {
  font-family: 'Courier New', Courier, monospace;
  color: black;
}